<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <span class="login100-form-title pb-5">
          Login
        </span>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Account Address</mat-label>
              <input matInput name="address" #address="ngModel" disabled [ngModel]="doctorService.web3Service.account" required />
              <mat-icon matSuffix>description</mat-icon>
              <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>User Type</mat-label>
              <mat-select name="userType" #userType="ngModel"  ngModel required>
                <mat-option value="doctor">Doctor</mat-option>
                <mat-option value="patient">Patient</mat-option>
              </mat-select>
              <mat-icon matSuffix>supervisor_account</mat-icon>
              <mat-error *ngIf="userType.invalid && (userType.dirty || userType.touched)">
                User Type is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" #password="ngModel" ngModel required>
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""> Remember me
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button  class="login100-form-btn" [disabled]="loginForm.invalid || loading"
          [class.spinner]="loading" type="submit" mat-raised-button color="primary">
            Login
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/logolazo.png');">
      </div>
    </div>
  </div>
</div>
