<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm.value)">
        <span class="login100-form-title p-b-30">
          Register
        </span>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput name="name" #name="ngModel" ngModel required>
          <mat-icon matSuffix>face</mat-icon>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Doctor Id</mat-label>
          <input matInput name="idCard" #idCard="ngModel" ngModel required>
          <mat-icon matSuffix>credit_card</mat-icon>
          <mat-error *ngIf="idCard.invalid && (idCard.dirty || idCard.touched)">
            Doctor Id is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Specialization</mat-label>
          <input matInput name="specialization" #specialization="ngModel" ngModel required>
          <mat-icon matSuffix>device_hub</mat-icon>
          <mat-error *ngIf="specialization.invalid && (specialization.dirty || specialization.touched)">
            Specialization is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput name="email" #email="ngModel" type="email" ngModel required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput name="password" #password="ngModel" ngModel [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="cpassword" #cpassword="ngModel" ngModel [type]="chide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="chide = !chide">
            {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="cpassword.value != password.value && (cpassword.dirty || cpassword.touched)">
            Passwords are different
          </mat-error>
        </mat-form-field>
        <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div>
            <span>Already Registered? <a routerLink="/authentication/signin">
                Login
              </a></span>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button [disabled]="signUpForm.invalid || password.value != cpassword.value || loading" 
          class="login100-form-btn" [class.spinner]="loading" type="submit" mat-raised-button color="primary">
            Register
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/logolazo.png');">
      </div>
    </div>
  </div>
</div>