<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Doctor Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" routerLink="/doctors/list">Doctor</a>
            </li>
            <li class="breadcrumb-item active" *ngIf="doctor">{{doctor.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix" *ngIf="doctor">
      <div class="col-lg-4 col-md-12">
        <div class="card" style="margin-bottom: 5px;">
          <div class="contact-grid profile-image">
            <img src="{{imageUrl}}" alt="">
          </div>
        </div>
        <div class="row" class="text-center" *ngIf="!newImage && userService.profile.address == doctor.address" style="margin-bottom: 5px;">
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon>refresh</mat-icon>
              Change Image
          </button>
          <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
            (change)="loadImage($event.target.files)" style="display:none;" />
        </div>
        <div class="row" *ngIf="newImage && userService.profile.address == doctor.address" class="text-center" style="margin-bottom: 5px;">
          <button mat-raised-button color="primary" [disabled]="loading"  (click)="saveImage()" [class.spinner]="loading">
            <mat-icon>done</mat-icon>
            Save Image
          </button>
        </div>
        <div class="row" *ngIf="newImage && userService.profile.address == doctor.address" class="text-center">
          <button mat-raised-button color="warn" [disabled]="loading"  (click)="cancelImage()">
            <mat-icon>cancel</mat-icon>
            Cancel Image
          </button>
        </div>

      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Doctor</h2>
          </div>
          <div class="tab-pane body active" id="about">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-muted">Name: </small>
                <p>{{doctor.name}}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-muted">Specialization: </small>
                <p>{{doctor.specialization}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-muted">Email: </small>
                <p>{{doctor.email}}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-muted">Joining Date: </small>
                <p>{{doctor.joiningDate | date: "shortDate"}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-muted">Id Card: </small>
                <p>{{doctor.idCard}}</p>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="userService.profile.address == doctor.address" >
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input matInput  [(ngModel)]="oldPassword" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput [(ngModel)]="newPassword" [type]="nhide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="nhide = !nhide">
                    {{nhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="userService.profile.address == doctor.address">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm New Password</mat-label>
                  <input matInput [(ngModel)]="confirmNewPassword" [type]="chide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="newPassword != confirmNewPassword && confirmNewPassword.length">
                    Passwords are different
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="userService.profile.address == doctor.address">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button mat-raised-button color="primary"
                [disabled]="changingPassword || !oldPassword.length || newPassword != confirmNewPassword || !newPassword.length"
                (click)="changePassword()" [class.spinner]="changingPassword">
                  <mat-icon>refresh</mat-icon>
                  Change Password
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
