<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form">
        <span class="error-header p-b-45">
          403
        </span>
        <span class="error-subheader p-b-5">
          Forbidden Access
        </span>
        <span class="error-subheader2 p-b-5">
          You don't have permisson for accessing the requested route.
        </span>
        <div class="container-login100-form-btn p-t-30	">
          <button class="login100-form-btn" routerLink="/dashboard">
            Go To Home Page
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/logolazo.png');">
      </div>
    </div>
  </div>
</div>
